<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="template, tour template, city tours, city tour, tours tickets, transfers, travel, travel template" />
    <meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
    <meta name="author" content="Ansonika">
    <title>CITY TOURS - City tours and travel site template by Ansonika</title>
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/images/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/images/apple-touch-icon-144x144-precomposed.png">

    <!-- CSS -->
    <link href="/stylesheets/base.css" rel="stylesheet">
    
    <!-- CSS -->
    <link href="/stylesheets/blog.css" rel="stylesheet">
    
    <!-- Google web fonts -->
   <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
        
</head>
<body>

<!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->


    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->


    
 	<section class="parallax-window" data-parallax="scroll" data-image-src="/images/bg_blog.jpg" data-natural-width="1400" data-natural-height="470">
        <div class="parallax-content-1">
            <div class="animated fadeInDown">
            <h1>Tour Blog</h1>
            <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p></div>
            </div>
    </section><!-- End section -->

    
	<div id="position">
    	<div class="container">
                	<ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li>Page active</li>
                    </ul>
        </div>
    </div><!-- End position -->

<div class="container margin_60">
    <div class="row">
      <aside class="col-md-3 add_bottom_30">

				<div class="widget">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
						<button class="btn btn-default" type="button" style="margin-left:0;"><i class="icon-search"></i></button>
						</span>
					</div><!-- /input-group -->
				</div><!-- End Search -->
                <hr>
				<div class="widget" id="cat_blog">
					<h4>Categories</h4>
					<ul>
                    	<li><a href="#">Places to visit</a></li>
                        <li><a href="#">Top tours</a></li>
                        <li><a href="#">Tips for travellers</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>
				</div><!-- End widget -->
 
               <hr>
            
				<div class="widget">
					<h4>Recent post</h4>
					<ul class="recent_post">
						<li>
						<i class="icon-calendar-empty"></i> 16th July, 2020
						<div><a href="#">It is a long established fact that a reader will be distracted </a></div>
						</li>
						<li>
						<i class="icon-calendar-empty"></i> 16th July, 2020
						<div><a href="#">It is a long established fact that a reader will be distracted </a></div>
						</li>
						<li>
						<i class="icon-calendar-empty"></i> 16th July, 2020
						<div><a href="#">It is a long established fact that a reader will be distracted </a></div>
						</li>
					</ul>
				</div><!-- End widget -->
                <hr>
				<div class="widget tags">
					<h4>Tags</h4>
					<a href="#">Lorem ipsum</a>
					<a href="#">Dolor</a>
					<a href="#">Long established</a>
					<a href="#">Sit amet</a>
					<a href="#">Latin words</a>
					<a href="#">Excepteur sint</a>
				</div><!-- End widget -->

     </aside><!-- End aside -->
     
     <div class="col-md-9">
     	<div class="box_style_1">
     		<div class="post nopadding">
					<h2>Classic Suzhou must-sees  -  part 1</h2>
                    <div class="post_info clearfix">
                        <div class="post-left">
                            <ul>
                                <li><i class="icon-calendar-empty"></i>On <span>12 Nov 2020</span></li>
                                <li><i class="icon-inbox-alt"></i>In <a href="#">Top tours</a></li>
                                <li><i class="icon-tags"></i>Tags <a href="#">Works</a> <a href="#">Personal</a></li>
                            </ul>
                        </div>
                        <div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
                    </div>
					<p>
						Suzhou, also known as ‘Soochow’, is the oldest city in China with a history of more than 2500 years. It is located in the center of the Yangtze River Delta, approximately 60 miles away from Shanghai. As the saying goes ‘Heaven above, Suzhou and Hangzhou below’, it is one of the most beautiful places among all over China. Interestingly, while Suzhou is always one of the hottest destinations for domestic travelers, it is still a hidden gem to many international tourists. There are actually plenty to see and to do in this amazing city.

					</p>
                    <p>
                    	World Heritage – Classical Gardens of Suzhou. The classical gardens of Suzhou date back to the 6th century BCE when the city was founded as the capital of the Wu Kingdom. Inspired by these royal hunting gardens built by the King of the State of Wu, private gardens began emerging around the 4th century and finally reached the climax in the 18th century. Today, more than 50 of these gardens are still in existence, nine of which, namely the Humble Administrator’s Garden, Lingering Garden, Net Master’s Garden, the Mountain Villa with Embracing Beauty, the Canglang Pavilion, the Lion Grove Garden, the Garden of Cultivation, the Couple’s Garden Retreat, and the Retreat & Reflection Garden, are regarded as the finest embodiments of Chinese “Mountain and Water” gardens and have been designated UNESCO World Heritage Sites. Humble Administrator’s Garden is the most typical one with the greatest reputation. The garden contains numerous pavilions and bridges set among a maze of connected pools and islands. Its elegant beaties lies among its pristine collections of small forests and the gentle patter of the water. What’s adding lustre - Cao Xueqin (Shakespeare of China), author of the Dream of the Red Chamber, is supposed to have lived at the garden during his teenage years. Among Chinese scholars, it is believed that much of the garden in his novel Dream of the Red Chamber was inspired by the scenery of the Humble Administrators Garden.
					</p>
                    <img src="/images/posts/image15.jpg" alt="" class="img-responsive">
                    <p>
                        Natural beauty and historical wonder – Tiger Hill. It was the place where the King of Wu, Fu Chai, buried his father-King He Lu along with 3,000 swords. Legend says that on the third day after the burial, a white tiger appeared to guard the tomb, hence the name of the hill. Different than the classical gardens, the tiger hill is not a “world heritage”. However it is even a more popular place of interest among Chinese people. Tiger hill carries secrets from old times and traditional elements that you will see from a Chinese movie. The Yunyan Pagoda is a seven-story tower known as ‘China’s learning Pisa’ where scrolls and other relics were found. The Sword Pond was believed to be where some 3000 swords were buried. The Thousand People Rock is a rock-based plaza where Fu Chai commanded the murder of some thousand craftsmen who were involved in his father's burial in order to conceal the exact location of the grave. It is still a mystery even now. There are a lot more real and legendary stories about Tiger Hill. The famous. The famous Song Dynasty (960-1279) poet, Su Shi said, 'It is a lifelong pity if having visited Suzhou you did not visit Tiger Hill.' This epitomizes the general opinion of those who have seen this local beauty spot with its many attractions that we shall endeavour to describe for you. Not to mention the amazing botanical garden where exotic, small but very old trees are well taken care of.posed to have lived at the garden during his teenage years. Among Chinese scholars, it is believed that much of the garden in his novel Dream of the Red Chamber was inspired by the scenery of the Humble Administrators Garden.
                    </p>
                    <img src="/images/posts/image11.jpg" alt="" class="img-responsive">


				</div><!-- end post -->
                </div><!-- end box_style_1 -->
                
       
     </div><!-- End col-md-9-->   
	
  </div><!-- End row-->           
</div><!-- End container -->



<div id="toTop"></div><!-- Back to top button -->

 <!-- Common scripts -->
<script src="/javascripts/jquery-1.11.2.min.js"></script>
<script src="/javascripts/common_scripts_min.js"></script>
<script src="/javascripts/functions.js"></script>

  </body>
</html>