<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="template, tour template, city tours, city tour, tours tickets, transfers, travel, travel template" />
    <meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
    <meta name="author" content="Ansonika">
    <title>CITY TOURS - City tours and travel site template by Ansonika</title>
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/images/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/images/apple-touch-icon-144x144-precomposed.png">

    <!-- CSS -->
    <link href="/stylesheets/base.css" rel="stylesheet">
    
    <!-- CSS -->
    <link href="/stylesheets/blog.css" rel="stylesheet">
    
    <!-- Google web fonts -->
   <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
        
</head>
<body>

<!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->


    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->


    
 	<section class="parallax-window" data-parallax="scroll" data-image-src="/images/bg_blog.jpg" data-natural-width="1400" data-natural-height="470">
        <div class="parallax-content-1">
            <div class="animated fadeInDown">
            <h1>Tour Blog</h1>
            <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p></div>
            </div>
    </section><!-- End section -->

    
	<div id="position">
    	<div class="container">
                	<ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li>Page active</li>
                    </ul>
        </div>
    </div><!-- End position -->

<div class="container margin_60">
    <div class="row">
      <aside class="col-md-3 add_bottom_30">

				<div class="widget">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
						<button class="btn btn-default" type="button" style="margin-left:0;"><i class="icon-search"></i></button>
						</span>
					</div><!-- /input-group -->
				</div><!-- End Search -->
                <hr>
				<div class="widget" id="cat_blog">
					<h4>Categories</h4>
					<ul>
                    	<li><a href="#">Places to visit</a></li>
                        <li><a href="#">Top tours</a></li>
                        <li><a href="#">Tips for travellers</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>
				</div><!-- End widget -->
 
               <hr>
            
				<div class="widget">
					<h4>Recent post</h4>
					<ul class="recent_post">
						<li>
						<i class="icon-calendar-empty"></i> 16th July, 2020
						<div><a href="#">It is a long established fact that a reader will be distracted </a></div>
						</li>
						<li>
						<i class="icon-calendar-empty"></i> 16th July, 2020
						<div><a href="#">It is a long established fact that a reader will be distracted </a></div>
						</li>
						<li>
						<i class="icon-calendar-empty"></i> 16th July, 2020
						<div><a href="#">It is a long established fact that a reader will be distracted </a></div>
						</li>
					</ul>
				</div><!-- End widget -->
                <hr>
				<div class="widget tags">
					<h4>Tags</h4>
					<a href="#">Lorem ipsum</a>
					<a href="#">Dolor</a>
					<a href="#">Long established</a>
					<a href="#">Sit amet</a>
					<a href="#">Latin words</a>
					<a href="#">Excepteur sint</a>
				</div><!-- End widget -->

     </aside><!-- End aside -->
     
     <div class="col-md-9">
     	<div class="box_style_1">
     		<div class="post nopadding">
					<h2>Classic Suzhou must-sees  -  part 1</h2>
                    <div class="post_info clearfix">
                        <div class="post-left">
                            <ul>
                                <li><i class="icon-calendar-empty"></i>On <span>12 Nov 2020</span></li>
                                <li><i class="icon-inbox-alt"></i>In <a href="#">Top tours</a></li>
                                <li><i class="icon-tags"></i>Tags <a href="#">Works</a> <a href="#">Personal</a></li>
                            </ul>
                        </div>
                        <div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
                    </div>
					<p>
						City along the water – Pingjiang, Shantang & Pingtan. Suzhou is dubbed as ‘eastern Venice’ for quite some time in the last century because of its water and bridges everywhere. Suzhou’s narrow water passages are some of the oldest in the world and perfect for any traveler looking to take in the city’s original charm. Two streets where one can take a walk along the riverside and appreciate traditional culture are Pingjiang and Shantang. The picturesque and photogenic street’s view reminds people of old times when native Suzhounese drinking tea and listening to Pingtan (is a regional variety of the traditional Chinese storytelling and a musical/oral performance art form) by water to enjoy the cool during summer. You can also catch a boat ride through the canals around the corner. It’s definitely the best way to enjoy the history and beauty of Suzhou’s landmarks and waterside garden relaxing in a boat.

					</p>
                    <img src="/images/posts/image12.jpg" alt="" class="img-responsive">
                    <p>
                        Modern and history – one of world’s richest historical sites. Located adjacent to the Humble Administrator’s Garden is the Suzhou Museum, designed by world-renowned Suzhounese architect I.M.Pei, where guests are treated to collection of ancient ceramics, wood carvings and other cultural artifacts illustrating the past. The city is also home to the Suzhou Silk Museum, which showcases Suzhou’s title as the silk capital of China and offers guests a historical look at the silk production of yesteryear that made the city famous. Today’s Suzhou is the most developed city within its comparable-size peers. It contributes the sixth highest GDP among all cities in China. The newer Industry Park is joint developed by China and Singapore and a well-managed, pleasant home with good social order to many alien residents. 
                    </p>
                    <img src="/images/posts/image16.jpg" alt="" class="img-responsive">


				</div><!-- end post -->
                </div><!-- end box_style_1 -->
                
       
     </div><!-- End col-md-9-->   
	
  </div><!-- End row-->           
</div><!-- End container -->



<div id="toTop"></div><!-- Back to top button -->

 <!-- Common scripts -->
<script src="/javascripts/jquery-1.11.2.min.js"></script>
<script src="/javascripts/common_scripts_min.js"></script>
<script src="/javascripts/functions.js"></script>

  </body>
</html>