<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="template, tour template, city tours, city tour, tours tickets, transfers, travel, travel template" />
    <meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
    <meta name="author" content="Ansonika">
    <title>CITY TOURS - City tours and travel site template by Ansonika</title>
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/images/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/images/apple-touch-icon-144x144-precomposed.png">

    <!-- CSS -->
    <link href="/stylesheets/base.css" rel="stylesheet">
    
    <!-- CSS -->
    <link href="/stylesheets/blog.css" rel="stylesheet">
    
    <!-- Google web fonts -->
   <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
        
</head>
<body>

<!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->


    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->


    
 	<section class="parallax-window" data-parallax="scroll" data-image-src="/images/bg_blog.jpg" data-natural-width="1400" data-natural-height="470">
        <div class="parallax-content-1">
            <div class="animated fadeInDown">
            <h1>Tour Blog</h1>
            <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p></div>
            </div>
    </section><!-- End section -->

    
	<div id="position">
    	<div class="container">
                	<ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li>Page active</li>
                    </ul>
        </div>
    </div><!-- End position -->

<div class="container margin_60">
    <div class="row">
      <aside class="col-md-3 add_bottom_30">

				<div class="widget">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
						<button class="btn btn-default" type="button" style="margin-left:0;"><i class="icon-search"></i></button>
						</span>
					</div><!-- /input-group -->
				</div><!-- End Search -->
                <hr>
				<div class="widget" id="cat_blog">
					<h4>Categories</h4>
					<ul>
                    	<li><a href="#">Places to visit</a></li>
                        <li><a href="#">Top tours</a></li>
                        <li><a href="#">Tips for travellers</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>
				</div><!-- End widget -->
 
               <hr>
            
				<div class="widget">
					<h4>Recent post</h4>
					<ul class="recent_post">
						<li>
						<i class="icon-calendar-empty"></i> 16th July, 2020
						<div><a href="#">It is a long established fact that a reader will be distracted </a></div>
						</li>
						<li>
						<i class="icon-calendar-empty"></i> 16th July, 2020
						<div><a href="#">It is a long established fact that a reader will be distracted </a></div>
						</li>
						<li>
						<i class="icon-calendar-empty"></i> 16th July, 2020
						<div><a href="#">It is a long established fact that a reader will be distracted </a></div>
						</li>
					</ul>
				</div><!-- End widget -->
                <hr>
				<div class="widget tags">
					<h4>Tags</h4>
					<a href="#">Lorem ipsum</a>
					<a href="#">Dolor</a>
					<a href="#">Long established</a>
					<a href="#">Sit amet</a>
					<a href="#">Latin words</a>
					<a href="#">Excepteur sint</a>
				</div><!-- End widget -->

     </aside><!-- End aside -->
     
     <div class="col-md-9">
     	<div class="box_style_1">
     		<div class="post nopadding">
					<h2>Shanghai Two Day Weekend Inspiration - Day 2</h2>
                    <div class="post_info clearfix">
                        <div class="post-left">
                            <ul>
                                <li><i class="icon-calendar-empty"></i>On <span>12 Nov 2020</span></li>
                                <li><i class="icon-inbox-alt"></i>In <a href="#">Top tours</a></li>
                                <li><i class="icon-tags"></i>Tags <a href="#">Works</a> <a href="#">Personal</a></li>
                            </ul>
                        </div>
                        <div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
                    </div>
					<p>
						Old Town- Morning. If you’re looking for something a bit more classical Chinese, then head down to Old Town. Yuyuan is the very famous garden in this area, with Chinese architecture, gardens, pavilions and ponds. It is a pleasure to wonder around and saves you a trip to Suzhou to experience the classic beauty.

					</p>
                    <img src="/images/posts/image07.jpg" alt="" class="img-responsive">
                    <p>
                    	If commercial shopping and museums is what you’re looking for, then Jingan is your area. It starts out next to the Bund area and goes all through Nanjing East and West rd.
                        Main attractions are Nanjing East Road, Shanghai Museum, Shanghai’s Urban Planning Exhibition Center, Art Museum. 
					</p>

                    <p>
                        Luwan District – French Concession. The main attractions are the art centers, especially Taikang road. One can wonder around Taikang Road Art Centre, Xin Tian Di. Travelers who are interested in contemporary Chinese history would be interested in visiting Sun Yat-sen’s Former Residence, Zhou Enlai’s Former Residence, Soong Ching Ling’s Former Residence, Site of the First National Congress of CPC etc.

                    </p>
                    <img src="/images/posts/image09.jpg" alt="" class="img-responsive">

				</div><!-- end post -->
                </div><!-- end box_style_1 -->
                
       
     </div><!-- End col-md-9-->   
	
  </div><!-- End row-->           
</div><!-- End container -->



<div id="toTop"></div><!-- Back to top button -->

 <!-- Common scripts -->
<script src="/javascripts/jquery-1.11.2.min.js"></script>
<script src="/javascripts/common_scripts_min.js"></script>
<script src="/javascripts/functions.js"></script>

  </body>
</html>